{% extends "base.html" %}
{% from "_helpers.html" import render_errors %}

{% block content %}
<div class="center-block panel panel-default" style="width:30%; padding:1em;">
    <h1 class="text-center">Sign In</h1>

    <form action="" method="post" name="login">
        {{model.form.hidden_tag()}}

        <div class="form-group">
            <label for="{{ model.form.login.id }}">Login</label>
            {{ model.form.login(class="form-control") }}
            {{ render_errors(model.form.login) }}
        </div>

        <div class="form-group">
            <label for="{{ model.form.password.id }}">Password</label>
            {{ model.form.password(class="form-control") }}
            {{ render_errors(model.form.password)}}
        </div>

        <div>
            {{ model.form.remember_me }} 
            <label for="{{ model.form.remember_me.id}}">Remember Me</label>
        </div>

        <div>
            <input type="submit" value="Sign In" class="center-block btn btn-primary">
        </div>
    </form>
</div>
{% endblock %}